<!--Main HTML where handlebars will renter to-->

<!DOCTYPE>
<html lang="eng">
<h2>There is something here</h2>
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text"/css"/>
		<title>MVC Burger</title>
	</head>
	<body>
		{{{ body }}}
		<img src="./public/assets/img/burger.png" alt="burger" height="100" width="100">
	</body>
</html>